<footer id="footer" class="site-footer" role="contentinfo">
  <div class="row collapse">
    <div class="large-12 columns footer-inner">
      <div class="vcard">
        <p class="copyright  org">
          <a href="http://www.nd.edu/copyright/">Copyright</a> &copy; <%= Time.now.year %>
          <a href="http://www.nd.edu/" class="org">University of Notre Dame</a>
        </p>
        <p class="contact-info url fn adr">
          <a href="/" class="site-link url fn">ND Foundations</a>
          <span class="address"><span class="street-address">501 Grace Hall</span>, <span class="locality">Notre Dame</span>, <span class="region" title="Indiana">IN</span> <span class="postal-code">46556</span></span>
          <!--
          <span class="tel"><span class="type">Phone</span> 574-631-5000</span>
          <span class="tel fax"><span class="type">Fax</span> 574-631-5000</span>
          <span class="email"><a href="mailto:email@nd.edu">email@nd.edu</a></span>
          -->
        </p>
        <a href="http://www.nd.edu/" class="ndmark"><img src="//static.nd.edu/images/marks/blue/ndmark300.png" alt="University of Notre Dame"></a>
      </div>
    </div>
  </div>
</footer>