<header id="header" role="banner" class="site-header">
  <nav class="brandbar theme-bb-blue">
    <div class="row">
      <ul class="large-12 columns">
        <li class="dept-nd"><a href="http://www.nd.edu">University <i>of</i> Notre Dame</a></li>
        <li class="dept dept-<%= dept_code %>"><a href="http://www.nd.edu">Office <i>of</i> Public Affairs and Communications</a></li>
      </ul>
    </div>
  </nav>
  <div class="titlebar theme-tb-gold">
    <div class="row">
      <div class="large-12 columns">
        <h1 class="site-title"><a href="/" accesskey="H">ND Foundations</a></h1>
      </div>
    </div>
  </div>
</header>